<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">

                    <div class="commonsearch-table hidden">
                        <form class="form-inline form-commonsearch nice-validator n-default" action="" novalidate="novalidate" id="f-commonsearch" role="form" method="post">
                            <fieldset>
                                <!-- <div class="form-group dislocationAll">
                                    <label for="rec_id" class="control-label labelLocation">Id</label>
                                    <input type="text" class="form-control" name="rec_id" value="" placeholder="Id" id="rec_id">
                                </div> -->
                                <div class="form-group dislocationAll">
                                    <label for="status" class="control-label labelLocation">{:__('status')}</label>
                                    <select class="form-control" required="" name="cid.status" id="cid.status">
                                        {foreach $applyStatusArr as $key => $applyStatus}
                                            <option value="{$key}">{$applyStatus}</option>
                                        {/foreach}
                                    </select>
                                </div>
                                <div class="form-group dislocationAll">
                                    <label for="customer_id" class="control-label labelLocation">{:__('customer_id')}</label>
                                    <input type="text" class="form-control" name="cid.customer_id" value="" placeholder="ID" id="cid.customer_id">
                                </div>
                                <div class="form-group dislocationAll">
                                    <label for="ctm_name" class="control-label labelLocation">{:__('customer_name')}</label>
                                    <input type="text" class="form-control" name="customer.ctm_name" value="" placeholder="" id="ctm_name">
                                </div>
                                <!-- 是否上门 -->
                                <div class="form-group dislocationAll">
                                    <label class="control-label labelLocation" for="arrive_status">
                                        {:__('arrive_status')}
                                    </label>
                                    <select class="form-control" id="customer.arrive_status" name="customer.arrive_status" required="">
                                        <option value="">
                                        </option>
                                        {foreach $ArriveStatus as $key => $pdc}
                                        <option value="{$key}">
                                            {$pdc}
                                        </option>
                                        {/foreach}
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group dislocationAll">
                                    <label for="createtime" class="control-label labelLocation">{:__('InvalidCreatetime')}</label>
                                    <input class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="cid.createtime_start" type="text" value="" id="cid.createtime_start"> ~ <input  class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="cid.createtime_end" type="text" value="" id="cid.createtime_end">
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group dislocationAll">
                                    <label for="updatetime" class="control-label labelLocation">审批时间</label>
                                    <input class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="cid.updatetime_start" type="text" value="" id="cid.updatetime_start"> ~ <input  class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="cid.updatetime_end" type="text" value="" id="cid.updatetime_end">
                                </div>
                                <div class="form-group dislocationAll">
                                    <div class="col-sm-12 text-center">
                                        <button type="submit" class="btn btn-success dislocationRight">提交</button>
                                        <button type="reset" class="btn btn-default">重置</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    <div id="toolbar" class="toolbar">
                        <!-- {// :build_toolbar()} -->
                        <a href="javascript:;" class="btn btn-primary btn-refresh"><i class="fa fa-refresh"></i> </a>
                        {if $auth->check('customer/customerinvalid/batchinvalid')}
                        <a class="btn btn-success btn-multiinvalid" href="javascript:;">
                            <i class="fa fa-editone">
                                {:__('customerinvalid')}
                            </i>
                        </a>
                        {/if}
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover" 
                           data-operate-edit="{:$auth->check('cash/applyrecord/edit')}"
                           data-operate-pass="" 
                           data-operate-del="{:$auth->check('cash/applyrecord/del')}" 
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
