<div class="panel panel-default panel-intro">
    {:build_heading()}
    <div class="panel-body">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div class="offWrap offWrapRight" title="点击弹出搜索框">
                        <!--<i class="fa fa-angle-double-right"></i>-->
                        <div class="searchText">
                            搜索
                        </div>
                    </div>
                    <div class="commonsearch-table zoomInleft hidden">
                        <form action="" class="form-inline form-commonsearch nice-validator n-default" id="f-commonsearch" method="post" novalidate="novalidate" role="form">
                            <fieldset class="">
                                <div class="offWrap offWrapLeft hidden" title="点击收起搜索框">
                                    <i class="fa fa-angle-double-left text-success">
                                    </i>
                                </div>
                                <!-- 月份 -->
                                <div class="form-group dislocationAll">
                                    <label class="control-label searchPadding" for="customer.month">
                                        {:__('month')}
                                    </label>
                                    <input class="form-control" id="customer.month" name="customer.month" placeholder="{:__('month')}" type="number" value="">
                                    </input>
                                </div>
                                <div class="form-group dislocationAll">
                                    <div class="col-sm-12 text-center">
                                        <button class="btn btn-success" style="margin-right: 5px;" type="submit">
                                            提交
                                        </button>
                                        <button class="btn btn-default" type="reset">
                                            重置
                                        </button>
                                        {if ($auth->check('customer/customer/downloadprocess') && (strtolower(request()->action()) == 'index' || strtolower(request()->action()) == 'invalid'))}
                                        <button class="btn btn-default" id="btn-export" type="button">
                                            {:__('Export')}
                                        </button>
                                        {/if}
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="toolbar" id="toolbar">
                    </div>
                    <h3 class="text-center">
                        {$site.hospital|htmlspecialchars}
                    </h3>
                    <hr/>
                    <h3>
                        领导您好！
                        <small>
                            日期：{:date("Y-m-d")}
                        </small>
                    </h3>
                    <h4>
                        到诊汇总【人次】
                    </h4>
                    <table class="table table-bordered scrolltable" id="table" width="100%">
                        <tr>
                        {assign name="oscCProNo" value="0" /}
                        {foreach $cProList as $cProId => $cProName}
                        {php}
                            
                        if ($oscCProNo > 0 && $oscCProNo % 5 == 0) {
                            echo <<<eee
                            </tr>
                            <tr>
eee;
                        }
                        $oscCProNo ++;
                        {/php}
                            <td width="10%">
                                <b>{$cProName}</b>
                            </td>
                            <td width="10%">{if (isset($oscCProSummary[$cProId]))}{$oscCProSummary[$cProId]}{else}0{/if}</td>
                        {/foreach}
                        {for start="0" end="$cProPadCols"}
                            <td width="10%">
                                <b></b>
                            </td>
                            <td width="10%"></td>
                        {/for}
                        </tr>
                    </table>
                    <hr/>
                    <h4>
                        现场汇总
                    </h4>
                    <table class="table table-striped table-bordered table-hover scrolltable" id="table" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    {:__('Osconsult_admin')}
                                </th>
                                <th>
                                    {:__('First visit count')}
                                </th>
                                <th>
                                    {:__('Success count')}
                                </th>
                               <!--  <th>
                                    {:__('Success rate')}
                                </th> -->
                                <th>
                                    {:__('First visit total')}
                                </th>
                                <th>
                                    {:__('Return visit count')}
                                </th>
                                <th>
                                    {:__('Success count')}
                                </th>
                                <!-- <th>
                                    {:__('Success rate')}
                                </th> -->
                                <th>
                                    {:__('Return visit total')}
                                </th>
                                <th>
                                    {:__('Reconsume count')}
                                </th>
                                <th>
                                    {:__('Success count')}
                                </th>
                               <!--  <th>
                                    {:__('Success rate')}
                                </th> -->
                                <th>
                                    {:__('Reconsume visit total')}
                                </th>
                                <!-- 复查 -->
                                <th>
                                    {:__('Review count')}
                                </th>
                                <th>
                                    {:__('Success count')}
                                </th>
                                <!-- <th>
                                    {:__('Success rate')}
                                </th> -->
                                <th>
                                    {:__('Review total')}
                                </th>
                                <!-- 其他 -->
                                <th>
                                    {:__('other count')}
                                </th>
                                <th>
                                    {:__('Success count')}
                                </th>
                                <!-- <th>
                                    {:__('Success rate')}
                                </th> -->
                                <th>
                                    {:__('other total')}
                                </th>
                                <th>
                                    {:__('Reception total')}
                                </th>
                                <th>
                                    {:__('Success total')}
                                </th>
                                <!-- <th>
                                    {:__('Success total rate')}
                                </th> -->
                                <th>
                                    {:__('Reception total rate')}
                                </th>
                                <th>
                                    {:__('Consumption total')}
                                </th>
                                <th>
                                    {:__('Percent')}
                                </th>
                                <th>
                                    {:__('Consumption per person')}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach $dailyOscStatistic['subs'] as $dailyOscSub}
                            <tr>
                                <td>
                                    {$dailyOscSub['staffName']}
                                </td>
                                <td>
                                    {$dailyOscSub['first_v_count']}
                                </td>
                                <td>
                                    {$dailyOscSub['first_v_success_count']}
                                </td>
                                <!-- <td>
                                    {$dailyOscSub['first_v_success_rate']}
                                </td> -->
                                <td>
                                    {$dailyOscSub['first_v_total']}
                                </td>
                                <td>
                                    {$dailyOscSub['return_v_count']}
                                </td>
                                <td>
                                    {$dailyOscSub['return_v_success_count']}
                                </td>
                                <!-- <td>
                                    {$dailyOscSub['return_v_success_rate']}
                                </td> -->
                                <td>
                                    {$dailyOscSub['return_v_total']}
                                </td>
                                <td>
                                    {$dailyOscSub['reconsume_count']}
                                </td>
                                <td>
                                    {$dailyOscSub['reconsume_success_count']}
                                </td>
                                <!-- <td>
                                    {$dailyOscSub['reconsume_success_rate']}
                                </td> -->
                                <td>
                                    {$dailyOscSub['reconsume_total']}
                                </td>
                                <!-- // 复查 -->
                                <td>
                                    {$dailyOscSub['review_v_count']}
                                </td>
                                <td>
                                    {$dailyOscSub['review_v_success_count']}
                                </td>
                                <!-- <td>
                                    {$dailyOscSub['review_v_success_rate']}
                                </td> -->
                                <td>
                                    {$dailyOscSub['review_v_total']}
                                </td>
                                <!-- // 其他 -->
                                <td>
                                    {$dailyOscSub['other_v_count']}
                                </td>
                                <td>
                                    {$dailyOscSub['other_v_success_count']}
                                </td>
                                <!-- <td>
                                    {$dailyOscSub['other_v_success_rate']}
                                </td> -->
                                <td>
                                    {$dailyOscSub['other_v_total']}
                                </td>
                                <td>
                                    {$dailyOscSub['reception_total']}
                                </td>
                                <td>
                                    {$dailyOscSub['success_total']}
                                </td>
                               <!--  <td>
                                    {$dailyOscSub['success_total_rate']}
                                </td> -->
                                <td>
                                    {$dailyOscSub['reception_percent']}
                                </td>
                                <td>
                                    {$dailyOscSub['consumption_total']}
                                </td>
                                <td>
                                    {$dailyOscSub['percent']}
                                </td>
                                <td>
                                    {$dailyOscSub['consumption_per_person']}
                                </td>
                            </tr>
                            {/foreach}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    {$dailyOscStatistic['total']['staffName']}
                                </th>
                                <th>
                                    {$dailyOscStatistic['total']['first_v_count']}
                                </th>
                                <th>
                                    {$dailyOscStatistic['total']['first_v_success_count']}
                                </th>
                                <!-- <th>
                                    {$dailyOscStatistic['total']['first_v_success_rate']}
                                </th> -->
                                <th>
                                    {$dailyOscStatistic['total']['first_v_total']}
                                </th>
                                <th>
                                    {$dailyOscStatistic['total']['return_v_count']}
                                </th>
                                <th>
                                    {$dailyOscStatistic['total']['return_v_success_count']}
                                </th>
                                <!-- <th>
                                    {$dailyOscStatistic['total']['return_v_success_rate']}
                                </th> -->
                                <th>
                                    {$dailyOscStatistic['total']['return_v_total']}
                                </th>
                                <th>
                                    {$dailyOscStatistic['total']['reconsume_count']}
                                </th>
                                <th>
                                    {$dailyOscStatistic['total']['reconsume_success_count']}
                                </th>
                                <!-- <th>
                                    {$dailyOscStatistic['total']['reconsume_success_rate']}
                                </th> -->
                                <th>
                                    {$dailyOscStatistic['total']['reconsume_total']}
                                </th>
                                <!-- // 复查 -->
                                <th>
                                    {$dailyOscStatistic['total']['review_v_count']}
                                </th>
                                <th>
                                    {$dailyOscStatistic['total']['review_v_success_count']}
                                </th>
                                <!-- <th>
                                    {$dailyOscStatistic['total']['review_v_success_rate']}
                                </th> -->
                                <th>
                                    {$dailyOscStatistic['total']['review_v_total']}
                                </th>
                                <!-- // 其他 -->
                                <th>
                                    {$dailyOscStatistic['total']['other_v_count']}
                                </th>
                                <th>
                                    {$dailyOscStatistic['total']['other_v_success_count']}
                                </th>
                                <!-- <th>
                                    {$dailyOscStatistic['total']['other_v_success_rate']}
                                </th> -->
                                <th>
                                    {$dailyOscStatistic['total']['other_v_total']}
                                </th>
                                <th>
                                    {$dailyOscStatistic['total']['reception_total']}
                                </th>
                                <th>
                                    {$dailyOscStatistic['total']['success_total']}
                                </th>
                               <!--  <th>
                                    {$dailyOscStatistic['total']['success_total_rate']}
                                </th> -->
                                <th>
                                    {$dailyOscStatistic['total']['reception_percent']}
                                </th>
                                <th>
                                    {$dailyOscStatistic['total']['consumption_total']}
                                </th>
                                <th>
                                    {$dailyOscStatistic['total']['percent']}
                                </th>
                                <th>
                                    {$dailyOscStatistic['total']['consumption_per_person']}
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                    <h4>
                        科室汇总
                    </h4>
                    <table class="table table-bordered scrolltable" id="table" width="100%">
                        
                        <tr>
                            <td><b>科室</b></td>
                            {foreach $deductDepts as $deptId => $deptName}
                            <td>{$deptName|htmlspecialchars}</td>
                            {/foreach}
                        </tr>
                        <tr>
                            <td><b>当日到诊</b></td>
                            {foreach $deductDepts as $deptId => $deptName}
                            <td>
                            {if isset($deptOscSummary[$deptId])}
                                {$deptOscSummary[$deptId]}
                            {else}
                                0
                            {/if}
                            </td>
                            {/foreach}
                        </tr>
                        <tr>
                            <td><b>当日业绩</b></td>
                            {foreach $deductDepts as $deptId => $deptName}
                            <td>
                                {if isset($deptSummary[$deptId])}
                                    {$deptSummary[$deptId]}
                                {else}
                                    0
                                {/if}
                            </td>
                            {/foreach}
                        </tr>
                    </table>
                    <hr/>
                    <h4>
                        收款
                    </h4>
                    <table class="table table-striped table-bordered table-hover scrolltable" id="table" width="100%">
                        <tr>
                            <td>
                                <b>
                                    日收入：
                                </b>
                            </td>
                            <td>
                                {$dailyBalanceSummary['in_pay_total']}
                            </td>
                            <td>
                                <b>
                                    当日退费：
                                </b>
                            </td>
                            <td>
                                {$dailyBalanceSummary['out_pay_total']}
                            </td>
                            <td>
                                <b>
                                    实际日收：
                                </b>
                            </td>
                            <td>
                                {$dailyBalanceSummary['pay_total']}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>
                                    月收入：
                                </b>
                            </td>
                            <td>
                                {$monthlyBalanceSummary['in_pay_total']}
                            </td>
                            <td>
                                <b>
                                    当月退费：
                                </b>
                            </td>
                            <td>
                                {$monthlyBalanceSummary['out_pay_total']}
                            </td>
                            <td>
                                <b>
                                    实际月收：
                                </b>
                            </td>
                            <td>
                                {$monthlyBalanceSummary['pay_total']}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    /*.bootstrap-table{width: 58%;}*/
    /*html{height: 100%;}body{overflow-y: hidden;}.contentLeft{overflow-y: auto;}*/
    
    .panel{box-shadow: none;}
    .panel-body{padding-bottom: 0;}
    .contentLeft{background-color: #fff;}
    .fixed-table-pagination .pagination-detail, .fixed-table-pagination div.pagination{margin-bottom: 0;}
    .contentTable {
        height: 250px;
        min-height: 250px;
    }
</style>