<div class="panel panel-default panel-intro">
    <div class="panel-body downloadPage">
        <p class="install">
            帮助文档
        </p>
        <hr/>
        <div class="installExplain">
            <div class="form-group">
                <a href="/assets/download/manual.doc" title="点击立即下载" style="margin-right: 10px;">
                    WORD版
                    <i class="fa fa-download">
                    </i>
                </a>
                <a href="/assets/download/manual.pdf" title="点击预览" target="blank" style="margin-right: 10px;">
                    PDF版
                    <i class="fa fa-search">
                    </i>
                </a>
                <a href="/assets/download/self_service_order_manual.pdf" title="点击预览" target="blank" style="margin-right: 10px;">
                    自助点单
                    <i class="fa fa-tag">
                    </i>
                </a>
            </div>
            <p class="installTitle">
                文档说明
            </p>
            <p>
                1.本文档仅作提示和参考作用，仅适用于当前版本;
            </p>
            <p>
                2.本文档是为使用户进一步了解软件功能解决疑难问题而制作，可解决在操作中遇到的大部分问题;
            </p>
            <p>
                3.PDF版默认打开预览，在右上侧工具栏上<img src='/assets/download/manual_toolbar.png' style="display: inline-block; height: 30px; margin: 0 5px; border-radius: 3px;" />点击书签快速查阅不同章节，亦可点击下载按钮下载文件。
            </p>
        </div>
    </div>
</div>