<div class="panel panel-default panel-intro">
	<div class="panel-body downloadPage">
		<p class="install">打印程序
			<a href="/assets/download/setup.exe" title="点击立即下载">点击下载</a>
		</p>

		<hr />
		<div class="installExplain ">
			<div class="">
				<p class="installTitle">提醒：</p>
				<p>安装打印程序前可能需要先安装依赖，否则打印程序无法使用<a style="font-weight: bold;" href="#relyon">依赖安装流程</a>.</p>
				<p style="font-size: 16px;font-weight: bold;">依赖
					<a href="/assets/download/NetFx4.exe" title="点击立即下载字体">点击下载</a>
				</p>
			</div>
			<hr />
			<div class="">
				<p>安装打印程序时会自动安装打印字体，如安装字体失败，请手动将字体安装,安装流程见<a style="font-weight: bold;" href="#fontInstall">打印程序安装流程</a>.</p>
				<p style="font-size: 16px;font-weight: bold;">字体
					<a href="/assets/download/simsun.ttc" title="点击立即下载字体">点击下载</a>
				</p>
			</div>
			
			<hr />
			<div class="">
				<p class="installTitle">下载说明：</p>
				<p>1.在本系统首次进行打印操作或本机未安装该打印程序前需先点击下载并安装;</p>
				<p>2.如本机已安装打印程序但需重新下载更新需要将原先程序卸载，按照<a style="font-weight: bold;" href="#unistallStep">打印程序卸载流程</a>卸载完成后方可继续安装;</p>
				<p>3.需提前关闭所有杀毒软件或者安装时允许本程序的此次操作;</p>
				<p>4.打印操作需连接打印机;</p>
				<p>5.下载并按<a style="font-weight: bold;" href="#installStep">打印程序安装流程</a>安装完成后,在需打印的页面点击打印按钮即可打印.</p>
				
			</div>
			<hr />

			<div class="installWidth" id="installStep">
				<p class="installTitle">打印程序安装流程：</p>
				<p>1.下载完成后,点击即可安装：</p>
				<img class="img-rounded img-responsive" src="__CDN__/assets/img/install/installStep1.png" />
				<p>2.此步骤可修改安装路径：</p>
				<img class="img-rounded img-responsive" src="__CDN__/assets/img/install/installStep2.png" />
				<p>3.如果未关闭杀毒软件可在弹出提示中允许本次操作：</p>
				<img class="img-rounded img-responsive" src="__CDN__/assets/img/install/installStep3.png" />
				<p>4.点击安装：</p>
				<img class="img-rounded img-responsive" src="__CDN__/assets/img/install/installStep4.png" />
				<p>5.安装完成：</p>
				<img class="img-rounded img-responsive" src="__CDN__/assets/img/install/installStep5.png" />
				<p>6.安装完成后在需要打印的页面点击打印按钮,弹出提示,勾选按钮默认不再提示：</p>
				<img class="img-rounded img-responsive" src="__CDN__/assets/img/install/installStep6.png" />
				<p>7.勾选并打开之后，弹出下图命令框无需理会,命令框自动关闭：</p>
				<img class="img-rounded img-responsive" src="__CDN__/assets/img/install/installStep7.png" />
				<p>8.以上操作完成后，在需要打印的页面点击打印按钮即可打印.</p>

			</div>
			<hr />

			<div class="installWidth" id="unistallStep">
				<p class="installTitle">打印程序卸载流程：</p>
				<p>1.如本机已安装该打印程序,下载完成后,点击下载完成的文件弹出提示：</p>
				<img class="img-rounded img-responsive" src="__CDN__/assets/img/install/installStep9.png" />
				<p>2.打开桌面计算机进入如下页面：</p>
				<img class="img-rounded img-responsive" src="__CDN__/assets/img/install/installStep10.png" />
				<p>3.点击卸载或更改程序，右上角搜索YjyPrint，得出搜索结果：</p>
				<img class="img-rounded img-responsive" src="__CDN__/assets/img/install/installStep11.png" />
				<p>4.搜索完成后,右击YjyPrint出现菜单：</p>
				<img class="img-rounded img-responsive" src="__CDN__/assets/img/install/installStep12.png" />
				<p>5.选择卸载后,弹出菜单：</p>
				<img class="img-rounded img-responsive" src="__CDN__/assets/img/install/installStep13.png" />
				<p>6.确认卸载后,弹出进度框</p>
				<img class="img-rounded img-responsive" src="__CDN__/assets/img/install/installStep14.png" />
				<p>7.如果未关闭杀毒软件弹出提示,修改成允许本次操作:</p>
				<img class="img-rounded img-responsive" src="__CDN__/assets/img/install/installStep15.png" />
				<p>8.此时返回页面点击已下载好的程序,出现界面:</p>
				<img class="img-rounded img-responsive" src="__CDN__/assets/img/install/installStep16.png" />
				<p>9.后续按照<a style="font-weight: bold;" href="#installStep">打印程序安装流程</a>完成安装</p>
			</div>
			<hr />

			<div class="installWidth" id="fontInstall">
				<p class="installTitle">字体安装流程：</p>
				<p>1.下载完成后，点击打开,点击下图左上角安装字样：</p>
				<img class="img-rounded img-responsive" src="__CDN__/assets/img/install/installStep8.png" />
				<p>2.点击之后弹出进度框，待进度框自动关闭，字体即安装完成.</p>
			</div>
			<hr />

			<div class="relyon" id="relyon">
				<p class="installTitle">依赖安装流程：</p>
				<p>1.点击之后弹出进度框，待进度框自动关闭，依赖即安装完成.</p>
				<img class="img-rounded img-responsive" src="__CDN__/assets/img/install/relyon1.png" />
				<p>2.下载完成后,如果已有相应的依赖，会显示下图，点击关闭：</p>
				<img class="img-rounded img-responsive" src="__CDN__/assets/img/install/relyon2.png" />
			</div>

		</div>
	</div>
</div>