<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">

                    <div class="commonsearch-table hidden">
                        <form class="form-inline form-commonsearch nice-validator n-default" action="" novalidate="novalidate" id="f-commonsearch" role="form" method="post">
                            <fieldset>
                                <!-- <input type="hidden" name="sort" value="order_id" />
                                <div class="form-group" style="margin:5px">
                                    <label for="customer_id" class="control-label searchPadding">{:__('Customer_id')}</label>
                                    <input type="hidden" name="customer_id" class="form-control" id="field_ctm_id" />
                                    <a href="javascript:;" id="a-search-customer">
                                        <input type="text" readonly id="field_ctm_name" class="form-control" />
                                    </a>
                                    <a href="javascript:;" class="btn btn-danger btn-del" id="btn-customer-clear">
                                        <i class="fa fa-trash"></i>清除
                                    </a>    
                                </div> -->
                                <div class="form-group" style="margin:5px">
                                    <label for="customer.ctm_id" class="control-label searchPadding">{:__('ctm_id')}</label>
                                    <input type="text" class="form-control" name="customer.ctm_id" value="" placeholder="{:__('ctm_id')}" id="customer.ctm_id">
                                </div>
                                 <div class="form-group" style="margin:5px">
                                    <label for="customer.ctm_name" class="control-label searchPadding">{:__('Ctm_name')}</label>
                                    <input type="text" class="form-control" name="customer.ctm_name" value="" placeholder="{:__('Ctm_name')}" id="customer.ctm_name">
                                </div>
                                
                                <div class="form-group" style="margin:5px">
                                    <label for="customer.ctm_mobile" class="control-label searchPadding">{:__('ctm_mobile')}</label>
                                    <input type="text" class="form-control" name="customer.ctm_mobile" value="" placeholder="{:__('ctm_mobile')}" id="customer.ctm_mobile">
                                </div>



                                <div class="form-group" style="margin:5px">
                                    <label for="customer_id" class="control-label searchPadding">{:__('Balance_id')}</label>
                                    <input type="number" name="balance_id" class="form-control" />
                                </div>
                                <div class="form-group" style="margin:5px">
                                    <label for="customer_id" class="control-label searchPadding">{:__('Used_balance_id')}</label>
                                    <input type="number" name="used_balance_id" class="form-control" />
                                </div>
                                <div class="form-group" style="margin:5px">
                                    <div class="col-sm-12 text-center">
                                        <button type="submit" class="btn btn-success" style="margin-right: 5px;">提交</button>
                                        <button type="reset" class="btn btn-default">重置</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    <div id="toolbar" class="toolbar">
                        {// :build_toolbar()}
                        <a href="javascript:;" class="btn btn-primary btn-refresh"><i class="fa fa-refresh"></i> </a>
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover" 
                           data-operate-edit="{:$auth->check('customer/couponrecord/edit')}" 
                           data-operate-del="{:$auth->check('customer/couponrecord/del')}" 
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
