<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label for="c-status" class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-status" data-rule="required" class="form-control" name="row[status]" type="hidden" value="{$row.status}">
            <input id="status-switch" class="yjy-switch" type="checkbox"{if $row.status} checked{/if} data-on-text="启用" data-off-text="禁用" />
        </div>
    </div>
    <div class="form-group">
        <label for="c-pro_id" class="control-label col-xs-12 col-sm-2">{:__('Pro_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pro_id" data-rule="required" class="form-control" name="row[pro_id]" type="hidden" value="{$row.pro_id}">
            <!-- <input type="text" readonly value=""> -->
            <table class="table">
                <tr>
                    <td>名称：</td>
                    <td>{$curProject.pro_name|htmlspecialchars}</td>
                    <td>价格：</td>
                    <td>{$curProject.pro_amount}</td>
                </tr>
                <tr>
                    <td>规格：</td>
                    <td>{$curProject.pro_spec|htmlspecialchars}</td>
                    <td>最低价：</td>
                    <td>{$curProject.pro_min_amount}</td>
                </tr>
                <tr>
                    <td>状态：</td>
                    <td>{if $curProject.pro_status}<i class="fa fa-check text-success">正常</i>{else}<i class="fa fa-remove text-danger">禁用</i>{/if}</td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                
            </table>
        </div>
    </div>
    <div class="form-group">
        <label for="c-cover" class="control-label col-xs-12 col-sm-2">{:__('Cover')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline">
                <input id="c-cover" class="form-control" size="50" name="row[cover]" type="text" value="{$row.cover}">
                <span><button type="button" id="plupload-cover" class="btn btn-danger plupload" data-input-id="c-cover" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-cover"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                <span><button type="button" id="fachoose-cover" class="btn btn-primary fachoose" data-input-id="c-cover" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                <ul class="row list-inline plupload-preview" id="p-cover"></ul>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="c-video" class="control-label col-xs-12 col-sm-2">{:__('Video')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-video" class="form-control" name="row[video]" type="text" value="{$row.video}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-short_desc" class="control-label col-xs-12 col-sm-2">{:__('Short_desc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-short_desc" data-rule="required" class="form-control" name="row[short_desc]" placeholder="简述，请控制字数在200以内">{$row.short_desc|htmlspecialchars}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="c-desc" class="control-label col-xs-12 col-sm-2">{:__('Desc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-desc" class="form-control summernote editor yjy-enable-editor" rows="6" name="row[desc]" cols="50">{$row.desc}</textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
