<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-msg_type" class="control-label col-xs-12 col-sm-2">{:__('Msg_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <!-- <input id="c-msg_type" data-rule="required" class="form-control" name="row[msg_type]" type="number" value="0"> -->
             {:build_select('row[msg_type]', $msgTypeList, null, ['class'=>'form-control selectpicker', 'required'=>''])}
        </div>
    </div>
    <div class="form-group">
        <label for="c-msg_from" class="control-label col-xs-12 col-sm-2">{:__('Msg_from')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-msg_from" data-rule="required" class="form-control" name="row[msg_from]" type="text" value="{$admin.nickname}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-msg_to" class="control-label col-xs-12 col-sm-2">{:__('Msg_to')}:</label>
        <div class="col-xs-12 col-sm-8">
            <!-- <input id="c-msg_to" data-rule="required" class="form-control" name="row[msg_to]" type="number"> -->
            {:build_select('row[msg_to]', $info, null, ['class'=>'form-control selectpicker', 'required'=>''])}
        </div>
    </div>
    <div class="form-group">
        <label for="c-msg_title" class="control-label col-xs-12 col-sm-2">{:__('Msg_title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-msg_title" data-rule="required" class="form-control" name="row[msg_title]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-msg_content" class="control-label col-xs-12 col-sm-2">{:__('Msg_content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-msg_content" data-rule="required" class="form-control summernote" rows="5" name="row[msg_content]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
