<style>
	body{background-color: #fff;}
	.ribbon{display: none;}
	th{text-align: center;}
</style>
<form id="view-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="basic">
            <div class="panel-body">
            	



				<div class="form-group ">
			        
			        <div class="col-sm-12">
			          </div>
			         </div>
			            <div class="form-group">
			        <div class="col-xs-12 col-sm-12" style="width: 100%;overflow-x: scroll;"><!--startprint-->
			            <table id="selectedDrugs" class="table table-striped table-bordered table-hover">

			                
			                
			                {if condition="!empty($data)"}
			                <!--startprint-->
			                <thead style="text-align: center;">
			                <tr >
			                    <td colspan="10"><div style="text-align: center;font-weight: bold;">{$site.hospital?$site.hospital:''}<div style="float: right;font-weight:normal"><?php echo date('Y-m-d');?></div></div></td>
			                </tr>
				                <tr>
				                	
				                    <td style="width: 20px;">划扣ID</td>
				                    <td style="width: 50px;">物品名称</td>
				                    <td style="width: 20px;">数量</td>
				                    <td style="width: 50px;">仓库</td>
				                    <td style="width: 20px;">规格</td>			                    
				                    <td style="width: 10px;">单位</td>
								</tr>
							</thead>
							
							<tbody style="text-align: center;">
								{foreach name="data" item="vo"}
								<tr>
									
				                    <td>{$vo.drid}</td>
				                    <td>{$vo.pro_name}</td>
				                    <td>{$vo.deduct_times}</td>
				                    <td>{$vo.dname}</td>
				                    <td>{$vo.pro_spec}</td>
				                    <td>{$vo.uname}</td>
				                    <!-- {$vo.status==1?'<td><a href="javascript:;" class="btn btn-xs btn-primary btn-editone" title="发料"><i class="fa fa-mail-forward"></i></a></td>':'<td><a href="javascript:;" class="btn btn-xs btn-primary btn-editone" title="撤料"><i class="fa fa-reply"></i></a></td>'} -->
								</tr>
								{/foreach}
							</tbody>
							<!--endprint-->
							{/if}
							

							{if condition="!empty($allPdata)"}
							<!--startprint-->
								<thead style="text-align: center;">
				                <tr >
				                    <td colspan="10"><div style="text-align: center;font-weight: bold;">{$site.hospital?$site.hospital:''}<div style="float: right;font-weight:normal"><?php echo date('Y-m-d');?></div></div></td>
				                </tr>
					                <tr>
					                	<td style="width: 10px;">序号</td>
					                    <td style="width: 50px;">物品名称</td>
					                    <td style="width: 20px;">规格</td>	
					                    <td style="width: 20px;">数量</td>		                    
					                    <td style="width: 10px;">单位</td>
					                    <td style="width: 50px;">仓库</td>
									</tr>
								</thead>
								
								<tbody style="text-align: center;">
									{foreach name="allPdata" item="vo"}
									<tr>
										<td>{$key+1}</td>
					                    <td>{$vo.pro_name}</td>
					                    <td>{$vo.pro_spec}</td>
					                    <td>{$vo.all_deduct_times}</td>
					                    <td>{$vo.uname}</td>
					                    <td>{$vo.dname}</td>
					                    <!-- {$vo.status==1?'<td><a href="javascript:;" class="btn btn-xs btn-primary btn-editone" title="发料"><i class="fa fa-mail-forward"></i></a></td>':'<td><a href="javascript:;" class="btn btn-xs btn-primary btn-editone" title="撤料"><i class="fa fa-reply"></i></a></td>'} -->
									</tr>
									{/foreach}
								</tbody>
								<!--endprint-->
							{/if}


			            </table>
			        </div>
			    </div>
            </div>
        </div>
        

    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-3"></label>
        <div class="col-xs-12 col-sm-8">
            <a href="javascript:;" class="btn " style="background-color: #333!important;border-color: #333!important;" id="surePrint">确定打印</a>
        </div>
    </div>
</form>
