<style type="text/css">
    .red{color: red}
</style>
<script src="__ROOT__assets/js/alphabet.js" type="text/javascript"></script>
<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="" onkeydown="if(event.keyCode==13){return false;}">

    <div class="form-group col-sm-6">
        <label for="c-pro_code" class="control-label col-xs-12 col-sm-4">{:__('Pro_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pro_code"  value="{$row.pro_code}" class="form-control" name="row[pro_code]" type="text">
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label for="c-pro_name" class="control-label col-xs-12 col-sm-4 red ">{:__('Pro_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pro_name" data-rule="required" class="form-control" name="row[pro_name]" oninput="setCode('row[pro_name]','row[pro_spell]')" onporpertychange="setCode('row[pro_name]','row[pro_spell]')" type="text" value="{$row.pro_name}">
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label for="c-pro_spell" class="control-label col-xs-12 col-sm-4">{:__('Pro_spell')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pro_spell" readonly="" class="form-control alphanumeric" name="row[pro_spell]"  type="text" value="{$row.pro_spell}">
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label for="c-depot_id" class="control-label col-xs-12 col-sm-4 red">{:__('Depot_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-depot_id" data-rule="required" {if $lockType gt 0} disabled=""{/if}  class="form-control " name="row[depot_id]">
                {foreach name="depotList" item="vo"}
                <option value="{$vo.id}" {in name="$vo.id" value="$row.depot_id"}selected{/in}>{$vo.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label for="c-pro_cost" class="control-label col-xs-12 col-sm-4 red">{:__('Pro_cost')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pro_cost" class="form-control" step="0.1" name="row[pro_cost]" type="number" value="{$row.pro_cost}">
        </div>
    </div>

    <div class="form-group col-sm-6">
        <label for="c-pro_amount" class="control-label col-xs-12 col-sm-4 red">{:__('Pro_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pro_amount"  class="form-control" step="0.1" name="row[pro_amount]" type="number" value="{$row.pro_amount}">
        </div>
    </div>
    
    
    <div class="form-group col-sm-6">
        <label for="c-pro_cat1" class="control-label col-xs-12 col-sm-4 red">{:__('Subject_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-pro_cat1" data-rule="" class="form-control " name="row[pro_cat1]">
                <option value="">--请选择--</option>
                {foreach name="subject" item='v'}
                <option  value="{$v.pdc_id}" {in name="$v.pdc_id" value="$row.pro_cat1"}selected{/in}>{$v.pdc_name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label for="c-pro_cat2" class="control-label col-xs-12 col-sm-4 red">{:__('Pro_cat')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-pro_cat2" class="form-control " name="row[pro_cat2]">
                <option value=""></option>
                {$pro_cat2}
            </select>
        </div>
    </div>
    






    <div class="form-group col-sm-6">
        <label for="c-pro_unit" class="control-label col-xs-12 col-sm-4 red">{:__('Pro_unit')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-pro_unit" {if $lockType gt 0} disabled=""{/if} data-rule="required" class="form-control " name="row[pro_unit]">
                {foreach name="unitList" item="vo"}
                <option value="{$vo.id}" {in name="$vo.id" value="$row.pro_unit"}selected{/in}>{$vo.name}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="form-group col-sm-6">
        <label for="c-pro_spec" class="control-label col-xs-12 col-sm-4 red">{:__('Pro_spec')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pro_spec" {if $lockType gt 0} readonly=""{/if} data-rule="required" class="form-control" name="row[pro_spec]" type="text" value="{$row.pro_spec}">
        </div>
    </div>
    
    <div class="form-group col-sm-6">
        <label for="c-lowunit" class="control-label col-xs-12 col-sm-4">{:__('Lowunit')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-lowunit"  class="form-control " name="row[lowunit]">
            <option></option>
                {foreach name="unitList" item="vo"}
                <option  value="{$vo.id}" {in name="$vo.id" value="$row.lowunit"}selected{/in}>{$vo.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label for="c-hex" class="control-label col-xs-12 col-sm-4">{:__('Hex')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hex" data-rule="" class="form-control" name="row[hex]" type="number" value="{$row.hex}">
        </div>
    </div>

    <div class="form-group col-sm-6">
        <label for="c-pack_spec" class="control-label col-xs-12 col-sm-4">{:__('pack_spec')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pack_spec" data-rule="" class="form-control" name="row[pack_spec]" type="text" value="{$row.pack_spec}">
        </div>
    </div>

    <div class="form-group col-sm-6">
        <label for="c-pack_unit" class="control-label col-xs-12 col-sm-4">{:__('pack_unit')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-pack_unit" data-rule="" class="form-control selectpicker" name="row[pack_unit]">
            <option></option>
                {foreach name="unitList" item="vo"}
                <option value="{$vo.id}" {in name="$vo.id" value="$row.pack_unit"}selected{/in}>{$vo.name}</option>
                {/foreach}
            </select>
        </div>
    </div>


    
    
    <div class="form-group col-sm-6">
        <label for="c-deduct_switch" class="control-label col-xs-12 col-sm-4 red">划扣设置:</label>
        <div class="col-xs-12 col-sm-5">
            <select  id="c-deduct_switch" data-rule="" class="form-control selectpicker" name="row[deduct_switch]">
                <option value="0" {{in name="0" value="$row.deduct_switch"}}selected{/in}>手动划扣</option>
                <option value="1" {in name="1" value="$row.deduct_switch"}selected{/in}>自动划扣</option>
            </select>
        </div>
    </div>

    <div class="form-group col-sm-6">
        <label for="c-dept_id" class="control-label col-xs-12 col-sm-4 red">{:__('dept_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-dept_id" data-rule="" class="form-control selectpicker" name="row[dept_id]" data-live-search="true">
                <option></option>
                {foreach name="deptmentList" item="vo"}
                <option  value="{$vo.dept_id}" {in name="$vo.dept_id" value="$row.dept_id"}selected{/in}>{$vo.dept_name}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="form-group col-sm-6">
        <label for="c-approv_num" class="control-label col-xs-12 col-sm-4">批准文号:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-approv_num" data-rule="" class="form-control" name="row[approv_num]" type="text" value="{$row.approv_num}">
        </div>
    </div>

    <div class="form-group col-sm-6">
        <label for="c-regist_num" class="control-label col-xs-12 col-sm-4">注册文号:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-regist_num" data-rule="" class="form-control" name="row[regist_num]" type="text" value="{$row.regist_num}">
        </div>
    </div>

    <div class="form-group col-sm-6">
        <label for="c-stock_top" class="control-label col-xs-12 col-sm-4">{:__('Stock_top')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-stock_top" data-rule="" class="form-control" name="row[stock_top]" type="number" value="{$row.stock_top}">
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label for="c-stock_low" class="control-label col-xs-12 col-sm-4">{:__('Stock_low')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-stock_low" data-rule="" class="form-control" name="row[stock_low]" type="number" value="{$row.stock_low}">
        </div>
    </div>
   
   
   
    
    <div class="form-group col-sm-6">
        <label for="c-addr" class="control-label col-xs-12 col-sm-4">{:__('Addr')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-addr" class="form-control" name="row[addr]" type="text" value="{$row.addr}">
        </div>
    </div>

    <div class="form-group col-sm-6">
        <label for="c-producer" class="control-label col-xs-12 col-sm-4">{:__('Producer')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-producer" class="form-control" name="row[producer]" type="text" value="{$row.producer}">
        </div>
    </div>

    
    <div class="form-group col-sm-6">
        <label for="c-pro_fee_type" class="control-label col-xs-12 col-sm-4">{:__('pro_fee_type')}:</label>
        <div class="col-xs-12 col-sm-5">
            
            {:build_select('row[pro_fee_type]', $proFeeType, $row['pro_fee_type'], ['class'=>'form-control ', 'data-rule'=>''])}
        </div>
    </div>
    
    <div class="form-group col-sm-6">
        <label for="c-ptype" class="control-label col-xs-12 col-sm-4 ">{:__('ptype')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-ptype" class="form-control " name="row[ptype]">
                {foreach name="ptypeList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.ptype"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>

    <input type="hidden" name="row[pro_type]" value="1"><!--  设置默认产品类别 1，药品 -->

    <div class="form-group col-sm-6">
        <label for="c-pro_status" class="control-label col-xs-12 col-sm-4">{:__('Pro_status')}:</label>
        <div class="col-xs-12 col-sm-4">
                        
            {foreach name="statusList" item="vo"}
            <label ><input name="row[pro_status]" type="radio" value="{$key}" {in name="key" value="$row.pro_status"}checked{/in} /> {$vo}</label> 
            {/foreach}

        </div>
    </div>

    <div class="form-group col-sm-12">
        <label for="c-pro_remark" class="control-label col-xs-12 col-sm-2">{:__('pro_remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pro_remark" class="form-control" name="row[pro_remark]" type="text" value="{$row.pro_remark}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
