<style type="text/css">
    .disnone{display: none}
</style>
<div class="panel panel-default panel-intro">
    {:build_heading()}
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">

                    <table id="table" class=" table table-striped table-bordered table-hover" style="width: 100%;" >
                        <tr style="">
                            <th>Id</th>
                            <th>批号</th>
                            <th>剩余库存</th>
                            <th style="width: 12%">成本单价</th>
                            <th style="width: 12%">零售价</th>
                            <th>生产日期</th>
                            <th>有效日期</th>
                            <th style="text-align: center">操作</th>
                            <!-- {if $auth->isSuperAdmin() }{/if} -->
                            
                        </tr>
                        {foreach name= 'row' item='v' key='k'}
                        <tr>
                            <td>{$v.lot_id}</td>
                            <td>{$v.lotnum}</td>
                            <td>{$v.lstock}</td>
                            <td class="lcost">{$v.lcost}</td>
                            <td class="lprice">{$v.lprice}</td>
                            <td>{if condition="$v.lstime>0"}{$v.lstime|date='Y-m-d',###}{/if}</td>
                            <td class="letime">
                                <span class="letimes" >{if condition="$v.letime>0"}{$v.letime|date='Y-m-d',###}{/if}</span>
                                
                            </td>
                            <td class="letimess disnone"><input type="text" value="" class="datetimepicker letimesss"  data-date-format="YYYY-MM-DD" name="letime"  size="7"></td>
                            <td style="text-align: center" class="operate">
                            <!-- {if $auth->isSuperAdmin() } && $v.lcost=="0"-->
                                <!-- {if $v.lchangecost_type=="" }<button class="btn btn-xs btn-success change_cost" data-lot="{$v.lot_id}" >改&nbsp;&nbsp;&nbsp;价</button >{elseif $v.lchangecost_type=="1"}<a href="javascript:;" class="btn btn-xs btn-primary "  >已改价</a>{/if} -->
                            <!-- {/if} -->
                            {if $v.lchangecost_type=="" && $v.lcost=="0"}<button class="btn btn-xs btn-success change_cost" data-lot="{$v.lot_id}" >改&nbsp;&nbsp;&nbsp;价</button >{elseif $v.lchangecost_type=="1"}<a href="javascript:;" class="btn btn-xs btn-primary "  >已改价</a>{/if}
                            <a href="javascript:;" class="btn btn-xs btn-primary change_letime" data-lots="{$v.lot_id}" >改效期</a>
                            </td>
                        </tr>
                        {/foreach}
                    </table>
                    </div>
                                    
                </div>
            </div>

        </div>
    </div>
</div>
