<!-- <div style="
    height: calc(100vh - 68px);
    position: relative;
">
    <div class="text-center center-block" style="width: 480px;height: 360px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%);">
        <img class="img img-responsive center-block" src="/assets/img/icon/p220_220/big_check.png" width="160px;"/>
        <h3>
            订单已提交，请至前台缴费
        </h3>
        <a class="btn y-back-main">查看订单</a>
        <a class="btn y-back-main">继续选购</a>
    </div>
</div> -->
<div style="
    height: calc(100vh - 68px);
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
">
    <div>
        <img class="img img-responsive center-block" src="/assets/img/icon/p220_220/big_check.png" width="160px;"/>
        <h3 class="text-center">
            订单已提交，请至前台缴费
        </h3>
        <div style="
                    display: flex;
                    display: -webkit-flex;
                    justify-content: center;
                    width: 100%;
                    text-align: center;
">
            <!-- <a class="btn y-back-main" style="padding: 10px 20px;">
                查看订单
            </a> -->
            <a class="btn y-back-main" style="padding: 10px 20px;" href="/web/set/index">
                继续选购
            </a>
        </div>
    </div>
</div>