{__NOLAYOUT__}
<!DOCTYPE html>
<html>
    <head>
        {include file="common/meta" /}
    </head>
    <body>
        <a class="hidden" href="y-top">
        </a>
        <div id="main-content" style="margin-top: 0;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="content">


                    <div class="clearfix"></div>
                    <div id="y-left-tags" style="top: 56px;">
                        <ul style="margin: 0; padding: 0;">
                            {foreach $tabs as $tabsTarget => $tabsName}
                            <li>
                                <a href="#{$tabsTarget}">
                                    {$tabsName|htmlspecialchars}
                                </a>
                            </li>
                            {/foreach}
                        </ul>
                    </div>
                    <div style="padding-top: 50px; padding-bottom: 50px; padding-left: 85px; padding-right: 85px;">
                        <div class="tab-content">
                            <form action="/web/order/cart" id="form-pre-checkout" method="post">
                                <input type="hidden" name="is_suit" value="{$proset.is_suit}" />

                                {if $showOriginalPrice}

                                    {foreach $tabContents as $tabId => $tabContent}
                                    <div id="{$tabId}" class="">
                                        {foreach $tabContent as $contentItem}
                                        <a name="{$tabId}" class="y-f-a-tab hidden"></a>
                                        {if (!empty($contentItem.banner))}
                                        <img src="{$contentItem.banner}" class="img img-responsive img-rounded" alt="{$contentItem.title|default=''}" />
                                        {/if}
                                        <div class="y-t-des-1">
                                            <!-- hero-unit -->
                                            <div class="">
                                                {$contentItem.desc|default=''}
                                            </div>
                                        </div>
                                        <ul class="yjy-pro-divs o-hidden" style="margin: 0; padding: 0;">
                                            {if (isset($contentItem.sets))}
                                            {foreach $contentItem.sets as $setId}
                                            {if (isset($setList[$setId]) && $set = $setList[$setId])}
                                            <li class="col-sm-6 col-md-4 yjy-pro-div" style="position: relative;">
                                                <i class="yjy-label-set"></i>
                                                {if $set.video}
                                                <i class="fa fa-4x fa-play-circle yjy-pro-video-play" onclick="yPlay('{$set.video}')"></i>
                                                {/if}
                                                <div class="yjy-pro-div-card">
                                                    <a href="/web/set/detail/ids/{$setId}"><img alt="{$contentItem.title|default=''}" class="yjy-pro-img" src="{$set.pic}" /></a>
                                                    <div class="caption yjy-pro-desc">
                                                        <div style="overflow: hidden;">
                                                            <h3 class="yjy-pro-desc-title y-one-line">
                                                                <!-- 名字标签 -->
                                                                <a href="/web/set/detail/ids/{$setId}">{$set.name|htmlspecialchars}</a>
                                                                <small><small></small></small>
                                                            </h3>
                                                        </div>
                                                        <div class="view row" style="overflow: hidden;">
                                                            <div class="col-sm-9 col-md-9">
                                                                <a href="javascript:;" data-href="/web/set/previewset/ids/{$setId}" class="y-preview-set">
                                                                    <h3 class="y-pro-m-price">
                                                                        {$set.set_price}
                                                                        <small>
                                                                            <del>
                                                                                {$set.price}
                                                                            </del>
                                                                        </small>
                                                                    </h3>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            {/if}
                                            {/foreach}
                                            <div class="clearfix"></div>
                                            {/if}

                                            {foreach $contentItem.proSets as $proSettings}
                                            {php}
                                            $proId = $proSettings['pro_id'];
                                            if (!isset($proList[$proId])) {
                                                continue;
                                            } else {
                                                $pro = $proList[$proId];
                                            }
                                            {/php}
                                            <li class="col-sm-6 col-md-4 yjy-pro-div" style="position: relative;">
                                                {if $pro.video}
                                                <i class="fa fa-4x fa-play-circle yjy-pro-video-play" onclick="yPlay('{$pro.video}')"></i>
                                                {/if}
                                                <input type="hidden" name="itemParams[{$pro.pro_id}][pk]" value="{$pro.pro_id}" />
                                                <input type="hidden" name="itemParams[{$pro.pro_id}][dept_id]" value="{$pro.dept_id}" />
                                                <input type="hidden" name="itemParams[{$pro.pro_id}][price]" value="{$proSettings.price}" />
                                                <input type="hidden" name="itemParams[{$pro.pro_id}][pro_name]" value="{$pro.pro_name}" />
                                                <input type="hidden" name="itemParams[{$pro.pro_id}][pro_spec]" value="{$pro.pro_spec}" />
                                                <!--
                                                <input type="hidden" class="yjy-input-pro-id" value="{$pro.pro_id}" />
                                                <input type="hidden" class="yjy-input-price" value="{$proSettings.price}" />
                                                -->
                                                <div class="yjy-pro-div-card">
                                                    <img alt="{$contentItem.title|default=''}" class="yjy-pro-img" src="{$pro.cover}" />
                                                    <div class="caption yjy-pro-desc">
                                                        <div style="overflow: hidden;">
                                                            <h3 class="yjy-pro-desc-title y-one-line">
                                                                <!-- 名字标签 -->
                                                                {if (isset($proSettings['rank']) & $proSettings['rank'] >= 5)}<img src="/assets/img/icon/p80_80/hot.png" style="display: inline-block;max-height: 100%; height: 19px; position: relative; float: left;" />{/if}{$pro.pro_spec}  
                                                                <small><small>{$pro.pro_name}</small></small>
                                                            </h3>
                                                            <!-- <p class="yjy-pro-desc-text">
                                                                {$pro.short_desc}
                                                            </p> -->
                                                        </div>
                                                        <div class="view" style="overflow: hidden;">
                                                            {if $proset.is_suit}
                                                            <input class="form-control text-right yjy-input-qty hidden" name="itemParams[{$pro.pro_id}][qty]" readonly type="number" value="{$proSettings.qty}" data-base-qty='{$proSettings.qty}' />
                                                            {else}
                                                            <input class="form-control text-right yjy-input-qty hidden" name="itemParams[{$pro.pro_id}][qty]" min="0" type="number" value="0" data-base-qty='1' />
                                                            {/if}
                                                            <h3 class="y-pro-m-price">
                                                                {$proSettings.price}
                                                                <small>
                                                                    <del>
                                                                        {$pro.pro_amount}
                                                                    </del>
                                                                </small>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                    {if $proset.is_suit}
                                                    <i class="yjy-pro-choose-icon active y-disabled hidden"></i>
                                                    <span class="yjy-set-pro-cnt-r">{$proSettings.qty}</span>
                                                    {else}
                                                    <i class="yjy-pro-choose-icon"></i>
                                                    {/if}
                                                </div>
                                            </li>
                                            {/foreach}
                                        </ul>

                                        {/foreach}
                                    </div>
                                    {/foreach}

                                {else}
                                <!-- showOriginalPrice false 不显示原价-->
                                    {foreach $tabContents as $tabId => $tabContent}
                                    <div id="{$tabId}" class="">
                                        {foreach $tabContent as $contentItem}
                                        <a name="{$tabId}" class="y-f-a-tab hidden"></a>
                                        {if (!empty($contentItem.banner))}
                                        <img src="{$contentItem.banner}" class="img img-responsive img-rounded" alt="{$contentItem.title|default=''}" />
                                        {/if}
                                        <div class="y-t-des-1">
                                            <!-- hero-unit -->
                                            <div class="">
                                                {$contentItem.desc|default=''}
                                            </div>
                                        </div>
                                        <ul class="yjy-pro-divs o-hidden" style="margin: 0; padding: 0;">
                                            {if (isset($contentItem.sets))}
                                            {foreach $contentItem.sets as $setId}
                                            {if (isset($setList[$setId]) && $set = $setList[$setId])}
                                            <li class="col-sm-6 col-md-4 yjy-pro-div" style="position: relative;">
                                                <i class="yjy-label-set"></i>
                                                {if $set.video}
                                                <i class="fa fa-4x fa-play-circle yjy-pro-video-play" onclick="yPlay('{$set.video}')"></i>
                                                {/if}
                                                <div class="yjy-pro-div-card">
                                                    <a href="/web/set/detail/ids/{$setId}"><img alt="{$contentItem.title|default=''}" class="yjy-pro-img" src="{$set.pic}" /></a>
                                                    <div class="caption yjy-pro-desc">
                                                        <div style="overflow: hidden;">
                                                            <h3 class="yjy-pro-desc-title y-one-line">
                                                                <!-- 名字标签 -->
                                                                <a href="/web/set/detail/ids/{$setId}">{$set.name|htmlspecialchars}</a>
                                                                <small><small></small></small>
                                                            </h3>
                                                        </div>
                                                        <div class="view row" style="overflow: hidden;">
                                                            <div class="col-sm-9 col-md-9">
                                                                <a href="javascript:;" data-href="/web/set/previewset/ids/{$setId}" class="y-preview-set">
                                                                    <h3 class="y-pro-m-price">
                                                                        {$set.set_price}
                                                                        <small>
                                                                            <del>
                                                                                {$set.price}
                                                                            </del>
                                                                        </small>
                                                                    </h3>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            {/if}
                                            {/foreach}
                                            <div class="clearfix"></div>
                                            {/if}

                                            {foreach $contentItem.proSets as $proSettings}
                                            {php}
                                            $proId = $proSettings['pro_id'];
                                            if (!isset($proList[$proId])) {
                                                continue;
                                            } else {
                                                $pro = $proList[$proId];
                                            }
                                            {/php}
                                            <li class="col-sm-6 col-md-4 yjy-pro-div" style="position: relative;">
                                                {if $pro.video}
                                                <i class="fa fa-4x fa-play-circle yjy-pro-video-play" onclick="yPlay('{$pro.video}')"></i>
                                                {/if}
                                                <input type="hidden" name="itemParams[{$pro.pro_id}][pk]" value="{$pro.pro_id}" />
                                                <input type="hidden" name="itemParams[{$pro.pro_id}][dept_id]" value="{$pro.dept_id}" />
                                                <input type="hidden" name="itemParams[{$pro.pro_id}][price]" value="{$proSettings.price}" />
                                                <input type="hidden" name="itemParams[{$pro.pro_id}][pro_name]" value="{$pro.pro_name}" />
                                                <input type="hidden" name="itemParams[{$pro.pro_id}][pro_spec]" value="{$pro.pro_spec}" />
                                                <!--
                                                <input type="hidden" class="yjy-input-pro-id" value="{$pro.pro_id}" />
                                                <input type="hidden" class="yjy-input-price" value="{$proSettings.price}" />
                                                -->
                                                <div class="yjy-pro-div-card">
                                                    <img alt="{$contentItem.title|default=''}" class="yjy-pro-img" src="{$pro.cover}" />
                                                    <div class="caption yjy-pro-desc">
                                                        <div style="overflow: hidden;">
                                                            <h3 class="yjy-pro-desc-title y-one-line">
                                                                <!-- 名字标签 -->
                                                                {if (isset($proSettings['rank']) & $proSettings['rank'] >= 5)}<img src="/assets/img/icon/p80_80/hot.png" style="display: inline-block;max-height: 100%; height: 19px; position: relative; float: left;" />{/if}{$pro.pro_spec}  
                                                                <small><small>{$pro.pro_name}</small></small>
                                                            </h3>
                                                            <!-- <p class="yjy-pro-desc-text">
                                                                {$pro.short_desc}
                                                            </p> -->
                                                        </div>
                                                        <div class="view" style="overflow: hidden;">
                                                            {if $proset.is_suit}
                                                            <input class="form-control text-right yjy-input-qty hidden" name="itemParams[{$pro.pro_id}][qty]" readonly type="number" value="{$proSettings.qty}" data-base-qty='{$proSettings.qty}' />
                                                            {else}
                                                            <input class="form-control text-right yjy-input-qty hidden" name="itemParams[{$pro.pro_id}][qty]" min="0" type="number" value="0" data-base-qty='1' />
                                                            {/if}
                                                            <h3 class="y-pro-m-price">
                                                                {$proSettings.price}
                                                            </h3>
                                                        </div>
                                                    </div>
                                                    {if $proset.is_suit}
                                                    <i class="yjy-pro-choose-icon active y-disabled hidden"></i>
                                                    <span class="yjy-set-pro-cnt-r">{$proSettings.qty}</span>
                                                    {else}
                                                    <i class="yjy-pro-choose-icon"></i>
                                                    {/if}
                                                </div>
                                            </li>
                                            {/foreach}
                                        </ul>

                                        {/foreach}
                                    </div>
                                    {/foreach}

                                {/if}



                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="y-pop-mini" id="osc-choose-center">
            <div class="y-pop-mini-inner">
                <div class="y-color-main y-pop-mini-refresh"><i class="fa fa-refresh"></i> 刷新</div>
                <div id="osc-choose-list">
                </div>
            </div>
        </div>

        <!-- H5 播放隐藏弹窗 class="hidden" -->
        <div id="y-pre-video-area" style="display: none; position: fixed; top: calc(50% - 260px); left: calc(50% - 360px); background: transparent; border-radius: 8px; box-shadow: 2px 2px 5px  ; width: 720px; height: 520px; z-index: 999; overflow: hidden;">
            <video controls="" height="100%" id="y-pre-video" loop="false" src="" style="background-color: rgba(0,0,0,.8);" width="100%">
                您的浏览器不支持 video 标签。
            </video>
            <div class="y-pre-video-close" onclick="yClose()">
                <i class="fa fa-times">
                    关闭
                </i>
            </div>
        </div>
        <script type="text/javascript">
            function getCookie(c_name) {
                if (document.cookie.length > 0) {
                    c_start = document.cookie.indexOf(c_name + "=");
                    if (c_start != -1) {
                        c_start = c_start + c_name.length + 1;
                        c_end = document.cookie.indexOf(";", c_start);
                        if (c_end == -1) c_end = document.cookie.length;
                        return unescape(document.cookie.substring(c_start, c_end));
                    }
                }
                return ""
            }

            function setCookie(c_name, value, expiredays) {
                var exdate = new Date();
                exdate.setDate(exdate.getDate() + expiredays);
                document.cookie = c_name + "=" + escape(value) + ((expiredays == null) ? "": ";expires=" + exdate.toGMTString());
            }

            function yPlay(src) {
                document.querySelector('#y-pre-video-area').style.display = 'block';
                document.querySelector('#y-pre-video').src = src;
                document.querySelector('#y-pre-video').load();
                document.querySelector('#y-pre-video').play();
            }
            function yClose()
            {
                document.querySelector('#y-pre-video').pause();
                document.querySelector('#y-pre-video-area').style.display = 'none';
            }
        </script>
        {include file="common/script" /}
    </body>
</html>