<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div class="commonsearch-table">
                        <form class="form-inline form-commonsearch nice-validator n-default" action="" novalidate="novalidate" id="f-commonsearch" role="form" method="post">
                            <fieldset>
                                <div class="form-group dislocationAll">
                                    <label for="admin.dept_id" class="control-label labelLocation">{:__('admin_dept_id')}</label>
                                    <select name="admin.dept_id" class="selectpicker show-tick form-control" data-live-search="true">
                                        <option value="">{:__('None')}</option>
                                    {foreach $deptList as $key => $dept}
                                        <option value="{$dept.dept_id}">{$dept.name}</option>
                                    {/foreach}
                                    </select>
                                </div>
                                <div class="form-group dislocationAll">
                                    <label for="admin_id" class="control-label" style="float: left; padding: 7px 10px;">
                                        {:__('Develop_admin')}
                                    </label>
                                    <select name="customer.admin_id" class="selectpicker show-tick form-control" data-live-search="true">
                                        <option value="">--</option>
                                        {foreach $briefAdminList as $key => $briefAdmin}
                                        <option value="{$key}">{$briefAdmin}</option>
                                        {/foreach}
                                    </select>
                                </div>
                                <div class="form-group dislocationAll">
                                    <label for="osc.cpdt_id" class="control-label searchPadding">{:__('Cpdt_id')}</label>
                               
                                    <select class="selectpicker show-tick form-control" required="" name="osc.cpdt_id" id="cpdt_id" data-live-search="true">
                                        {foreach $cpdtList as $key => $pdc}
                                            <option value="{$key}">{$pdc}</option>
                                        {/foreach}
                                    </select>
                                </div>
                                <div class="form-group dislocationAll">
                                    <label for="Department_id" class="control-label labelLocation">{:__('Osconsult Department')}</label>
                                    <select name="osc.dept_id" class="selectpicker show-tick form-control" data-live-search="true">
                                        <option value="">{:__('None')}</option>
                                    {foreach $deptList as $key => $dept}
                                        <option value="{$dept.dept_id}">{$dept.name}</option>
                                    {/foreach}
                                    </select>
                                </div>
                                <div class="form-group dislocationAll">
                                        <label for="osc.osc_type" class="control-label searchPadding">{:__('Osc_type')}</label>
                                        <select class="form-control" required="" name="osc.osc_type" id="osc.osc_type">
                                            <option value="">{:__('All')}</option>
                                            {foreach $ocsTypeArr as $key => $oscType}
                                            <option value="{$key}">{$oscType}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                <div class="form-group dislocationAll">
                                    <label for="createtime" class="control-label labelLocation">{:__('Recept date')}</label>
                                    <input class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="osc.createtime_start" type="text" value="{$startDate}" id="createtime_start"> ~ <input  class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="osc.createtime_end" type="text" value="{$endDate}" id="createtime_end">
                                </div>

                                <div class="form-group dislocationAll">
                                    <label for="ctm_birthdate" class="control-label searchPadding">{:__('ctm_age')}</label>
                                    <input type="number" class="form-control" name="customer.ctm_birthdate_start" value=""  id="ctm_birthdate_start">~<input type="number" class="form-control" name="customer.ctm_birthdate_end" value=""  id="ctm_birthdate_end">
                                </div> 

                                 <!-- 客户来源 -->
                                <div class="form-group dislocationAll">
                                    <label for="ctm_source" class="control-label searchPadding">{:__('Ctm_source')}</label>
                                    <select class="selectpicker show-tick form-control" data-live-search="true" required="" name="customer.ctm_source" id="ctm_source">
                                        {foreach $ctmSrcList as $key => $pdc}
                                            <option value="{$key}">{$pdc}</option>
                                        {/foreach}
                                    </select>
                                </div>
                                <!-- 首次受理工具 -->
                                <div class="form-group dislocationAll">
                                    <label for="ctm_first_tool_id" class="control-label searchPadding">{:__('customer_ctm_first_tool_id')}</label>
                                    <select class="selectpicker show-tick form-control selectSearch-min" required="" name="customer.ctm_first_tool_id" data-live-search="true">
                                        {foreach $toolList as $key => $value}
                                        <option value="{$key}">{$value}</option>
                                        {/foreach}
                                    </select>
                                </div>


                                <div class="form-group dislocationAll">
                                    <label for="c-ctm_addr" class="control-label searchPadding">{:__('Ctm_addr')}</label>
                                    <input type="text" class="form-control" readonly id="ctm_addr" name="customer.ctm_addr" value="" onclick="$('#area').removeClass('hidden')">
                                    <a href="javascript:;" class="btn btn-danger" id="clear" onclick="$('#ctm_addr').val(''); $('#area').addClass('hidden'); ">{:__('Clear')}</a>
                                </div>
                                <div class="form-group dislocationAll">
                                    <div class="form-inline hidden" id="area" data-toggle="cxselect" data-url="assets/libs/jquery-cxselect/js/cityData.min.json?v=1.01" data-selects="province,city,area" data-json-space="" data-json-name="n" data-json-value="" data-required="true"
                                    onclick="$('#ctm_addr').val($('#province').val()+'-'+$('#city').val());  ">
                                        <select class="province form-control" id="province" name="row[province]" data-value=""></select>
                                        <select class="city form-control" id="city" name="row[city]" data-value=""></select>
                                        <!-- <select class="area form-control" id="area" name="row[area]" data-value=""></select> -->
                                    </div>
                                </div>



                                <div class="form-group dislocationAll">
                                    <div class="col-sm-12 text-center">
                                        <button type="button" class="btn btn-success dislocationRight" id="btn-submit-1">{:__('Submit')}</button>
                                        <button type="reset" class="btn btn-default">{:__('Reset')}</button>
                                        <button type="button" class="btn btn-default" id="btn-export">{:__('Export')}</button>
                                    </div>
                                </div> 

                            </fieldset>
                        </form>
                    </div>
                    <div id="toolbar" class="table table-striped table-bordered table-hover" width="100%">
                    </div>
                    <div class="form-group">
                        <h2 class="text-center">
                            {:__('All business consult statistic')}
                        </h2>
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover scrolltable" width="100%">
                        <thead>
                            <tr>
                                <th>{:__('No.')}</th>
                                <th>{:__('Develop_admin')}</th>
                                <th>{:__('First visit count')}</th>
                                <th>{:__('Success count')}</th>
                                <th>{:__('Success rate')}</th>
                                <th>{:__('First visit total')}</th>

                                <th>{:__('Return visit count')}</th>
                                <th>{:__('Success count')}</th>
                                <th>{:__('Success rate')}</th>
                                <th>{:__('Return visit total')}</th>

                                <th>{:__('Reconsume count')}</th>
                                <th>{:__('Success count')}</th>
                                <th>{:__('Success rate')}</th>
                                 <th>{:__('Reconsume visit total')}</th>
                                <!-- 复查 -->
                                <th>{:__('Review count')}</th>
                                <th>{:__('Success count')}</th>
                                <th>{:__('Success rate')}</th>
                                <th>{:__('Review total')}</th>
                                <!-- 其他 -->
                                <th>{:__('other count')}</th>
                                <th>{:__('Success count')}</th>
                                <th>{:__('Success rate')}</th>
                                <th>{:__('other total')}</th>

                                <th>{:__('Reception total')}</th>
                                <th>{:__('Success total')}</th>
                                <th>{:__('Success total rate')}</th>
                                <th>{:__('Reception total rate')}</th>

                                <th>{:__('Consumption total')}</th>
                                <th>{:__('Percent')}</th>
                                <th>{:__('Consumption per person')}</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>