<div class="panel panel-default panel-intro">
    {:build_heading()}
    <div class="panel-body">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div class="commonsearch-table">
                        <form action="" class="form-inline form-commonsearch nice-validator n-default" id="f-commonsearch" method="post" novalidate="novalidate" role="form">
                            <fieldset>
                                <div class="form-group dislocationAll">
                                    <label class="control-label searchPadding" for="customer.ctm_id">
                                        {:__('Ctm_id')}
                                    </label>
                                    <input class="form-control" id="customer.ctm_id" name="customer.ctm_id" placeholder="{:__('Ctm_id')}" type="text" value="">
                                    </input>
                                </div>
                                <div class="form-group dislocationAll">
                                    <label class="control-label searchPadding" for="customer.ctm_name">
                                        {:__('Ctm_name')}
                                    </label>
                                    <input class="form-control" id="customer.ctm_name" name="customer.ctm_name" placeholder="{:__('Ctm_name')}" type="text" value="">
                                    </input>
                                </div>
                                <div class="form-group dislocationAll">
                                    <label class="control-label searchPadding" for="customer.ctm_mobile">
                                        {:__('Ctm_mobile')}
                                    </label>
                                    <input class="form-control" id="customer.ctm_mobile" name="customer.ctm_mobile" placeholder="{:__('Ctm_mobile')}" type="text" value="">
                                    </input>
                                </div>

                                <!-- 营销人员 -->
                                <div class="form-group dislocationAll">
                                    <label for="customer.admin_id" class="control-label searchPadding">{:__('developStaff')}</label>
                                    <select class="selectpicker show-tick form-control" name="customer.admin_id" data-live-search="true">
                                        <option value="">{:__('None')}</option>
                                        <option value="0">自然到诊</option>
                                        {foreach $briefAdminList as $key => $value}
                                        <option value="{$key}">{$value}</option>
                                        {/foreach}
                                    </select>
                                </div>

                                <div class="form-group dislocationAll">
                                    <label class="control-label labelLocation" for="createtime">
                                        {:__('Item pay time')}
                                    </label>
                                    <input class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="order_items.item_paytime_start" type="text" value="{$startDate}">
                                        ~
                                        <input class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="order_items.item_paytime_end" type="text" value="{$endDate}">
                                        </input>
                                    </input>
                                </div>
                                <div class="form-group dislocationAll">
                                    <div class="col-sm-12 text-center">
                                        <button class="btn btn-success dislocationRight" type="submit">
                                            {:__('Submit')}
                                        </button>
                                        <button class="btn btn-default" type="reset">
                                            {:__('Reset')}
                                        </button>
                                        <button class="btn btn-default" id="btn-export" type="button">
                                            {:__('Export')}
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="form-group">
                        <h2 class="text-center">
                            {:__('Customer booked item summary')}
                        </h2>
                    </div>
                    <div class="">
                        <h3 class="h-summary-block">
                            <small>
                                <span>
                                    顾客数:
                                </span>
                                <span class="text-success" id="s-count">
                                    0
                                </span>
                                <span title="含退换产生的订单" data-toggle="tooltip" data-placement="bottom">
                                    订购项目数:
                                </span>
                                <span class="text-success" id="s-item_count">
                                    0
                                </span>
                                <span title="原始支付额(含变动)" data-toggle="tooltip" data-placement="bottom">{:__('item_original_pay_total')}<i class="fa fa-question-circle-o"></i></span>
                                <span class="text-success" id="s-item_original_pay_total">
                                    0
                                </span>
                                <span title="本期变动额" data-toggle="tooltip" data-placement="bottom">本期变动额<i class="fa fa-question-circle-o"></i></span>
                                <span class="text-success" id="s-item_switch_total">
                                    0
                                </span>
                                <br />
                                <span title="现实际支付额(与原始支付额不一定相同，因为可能在此段时间后另有退换项目)" data-toggle="tooltip" data-placement="bottom">{:__('item_pay_total')}<i class="fa fa-question-circle-o"></i></span>
                                <span class="text-success" id="s-item_total">
                                    0
                                </span>
                                <span>
                                    未划扣额:
                                </span>
                                <span class="text-success" id="s-undeducted_total">
                                    0
                                </span>
                                <span title="使用券额(不包含在支付额内的部分)" data-toggle="tooltip" data-placement="bottom">{:__('item_coupon_total')}<i class="fa fa-question-circle-o"></i></span>
                                <span class="text-success" id="s-item_coupon_total">
                                    0
                                </span>
                            </small>
                        </h3>
                    </div>
                    <div class="clearfix">
                    </div>
                    <table class="table table-bordered table-hover" id="table" width="100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    yjyBriefAdminList = {:json_encode($briefAdminList)};
</script>