<style type="text/css">
    .resultList tr th{background-color:#ddddddd6;text-align: center;};
</style>
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url('/wm/goodscf/dispensing')}"  autocomplete="off">
<div>
    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"><b style="color: red">物品列表:</b></label>


        {if $data}
        <input type="hidden" name="deduct_times" value='{$data[0]["deduct_times"]}'><!-- 总划扣数量 -->
        <input type="hidden" name="customer_id" value='{$data[0]["customer_id"]}'><!-- 顾客id -->
        <input type="hidden" name="dr_id" value='{$data[0]["id"]}'>
        <input type="hidden" name="type" value='{$type}'>
        {/if}

        <div class="" style="">
                <div class="col-xs-6 col-sm-7" style="">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12" id="pro_menu"  onmouseleave="$('#words').addClass('hidden');">
                            <input type="text" readonly  {if $data}value="物品名：{$data[0]['pro_name']}    << >>    应发料数量：{$data[0]['deduct_times']}"{else}value=''{/if} style="position: relative;" class="form-control keyword" onmouseenter="$('#words').removeClass('hidden')"/>
                            <div style="position: relative;width: 130%">
                                <table id="words" data-index="" style="list-style:none;position: absolute;cursor: pointer;z-index: 999;height: auto;max-height: 200px;overflow-y: auto;padding: 0;table-layout:fixed;background-color: white" class=" resultList table table-striped table-bordered table-hover alldata">
                                    <tr class="onloading"><th width="12%">物品编号</th><th width="27%">名称</th><th width="12%">批号</th><th width="10%">进价</th><th width="10%">可用库存</th><th width="7%">单位</th><th width="10%">规格</th><th width="13%">到期日期</th></tr>
                                    {if $data}
                                    

                                    {foreach name="data" item="v"}
                                    <tr class="tdcenter" onmouseover="$(this).css('background-color','#18bc9c')" onmouseout="$(this).css('background-color','')" style="word-wrap:break-word"   data-index="{$v.lot_id}")"><td align="center">{$v.pro_code}</td><td align="center">{$v.pro_name}</td><td align="center">{$v.lotnum}</td><td align="center">{$v.lcost}</td><td align="center">{$v.lstock}</td><td align="center"> {$v.uname}</td><td align="center">{$v.pro_spec}</td><td align="center">{if condition="$v.letime>0"}{$v.letime|date='Y-m-d',###}{/if}</td></tr>
                                    {/foreach}

                                    {/if}
                                </table>
                            </div>
                        </div>
                        <a href="javascript:;" id="pro_add" class="btn btn-success btn-add hidden"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            <div class="col-sm-3 col-xs-3" style="">           
                <a href="javascript:;" class="btn btn-danger" id="clear">{:__('Clear')}</a>
            </div>
        </div>
    </div>
</div>


    <div class="form-group" style="width: 100%;overflow-x: scroll;">
        <div class="col-xs-12 col-sm-12">
        <table id="selectedDrugs" class="table table-striped table-bordered table-hover alldata" style="width: 900px;text-align: center;">
            <tr>
            <td style="color: red;width: 120px;">物品名称</td>
            <td style="color: red;width: 60px;">批号</td>
            <td style="width: 50px;">库存</td>
            <td style="color: red;width: 50px;">发料数量</td>
            <td style="width: 60px;">规格</td>
            <td style="width: 40px;">单位</td>
            <td style="width: 50px;color: red;">进货单价</td>
            <td style="width: 50px;color: red;">零售价</td>
            <td style="color: red;width: 60px;">到期日期</td>
            <td style="width: 70px;">生产日期</td>
            <td style="width: 30px;">操作</td></tr>
        </table>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            {if $type==1}<button type="submit" class="btn btn-success btn-embossed disabled" id="sure">确定发料</button>{else}<button type="button" class="btn btn-success btn-embossed disabled" id="sureFl">确定发料</button>{/if}
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
