<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url('/wm/goodscf/revoke')}"  autocomplete="off">
<div>
    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"><b style="color: red">物品列表:</b></label>


        {if $data}
        <input type="hidden" name="customer_id" value='{$data[0]["slcustomer_id"]}'><!-- 顾客id -->
        <input type="hidden" name="dr_id" value='{$data[0]["sldr_id"]}'>
        <input type="hidden" name="type" value='{$type}'>
        {/if}

        
    </div>
</div>


    <div class="form-group" style="width: 100%;overflow-x: scroll;">
        <div class="col-xs-12 col-sm-12">
        <table id="selectedDrugs" class="table table-striped table-bordered table-hover alldata" style="width: 900px;text-align: center;">
            <tr>
                <td style="color: red;width: 120px;">物品名称</td>
                <td style="color: red;width: 60px;">批号</td>
                <td style="color: red;width: 60px;">当前库存</td>
                <td style="color: red;width: 50px;">发料数量</td>
                <td style="width: 60px;">规格</td>
                <td style="width: 40px;">单位</td>
                <td style="width: 50px;color: red;">进货单价</td>
                <td style="color: red;width: 60px;">到期日期</td>
                <td style="width: 70px;">生产日期</td>
            </tr>
            {if $data}
            {foreach name="data" item="v"}
            <tr>
                <input type="hidden" name="lot_id[]" value="{$v.slotid}">
                <input type="hidden" name="mpro_num[]" value="{$v.slnum}">
                <input type="hidden" name="mcost[]" value="{$v.slcost}">
                <input type="hidden" name="re_id[]" value="{$v.re_id}">
                <input type="hidden" name="mprice[]" value="{$v.slprice}">
                <td>{$v.pro_name}</td>
                <td>{$v.lotnum}</td>
                <td>{$v.lstock}</td>
                <td>{$v.slnum}</td>
                <td>{$v.pro_spec}</td>
                <td>{$v.uname}</td>
                <td>{$v.slcost}</td>
                <td>{if condition="$v.letime>0"}{$v.letime|date='Y-m-d',###}{/if}</td>
                <td>{if condition="$v.lstime>0"}{$v.lstime|date='Y-m-d',###}{/if}</td>
            </tr>
            {/foreach}
            {/if}
        </table>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            {if $type==1}<button type="submit" class="btn btn-success btn-embossed disabled" id="sure">确定撤药</button>{else}<button type="button" class="btn btn-success btn-embossed disabled" id="sureCl">确定撤药</button>{/if}
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
