<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                
                    <div class="commonsearch-table hidden">
                        <form class="form-inline form-commonsearch nice-validator n-default" action="" novalidate="novalidate" id="f-commonsearch" role="form" method="post">
                            <fieldset>
                                <div class="form-group dislocationAll">
                                    <label for="num" class="control-label labelLocation">{:__('Num')}</label>
                                    <input type="text" name="num" class="form-control"   size="8"/>
                                </div>
                                <div class="form-group dislocationAll">
                                    <label for="name" class="control-label labelLocation">{:__('Name')}</label>
                                    <input type="text" name="yjy_product.name" class="form-control"  size="8">
                                </div>
                                <div class="form-group" style="margin:5px">
                                    <label for="lotnum" class="control-label" style="padding:0 10px">批号</label>
                                    <input type="text" name="yjy_product.lotnum" class="form-control"  size="8">
                                </div>
                                <div class="form-group" style="margin:5px">
                                    <label for="code" class="control-label" style="padding:0 10px">拼音码</label>
                                    <input type="text" name="yjy_product.code" class="form-control"  size="8">
                                </div>

                                <div class="form-group marginZero">
                                    <div class="col-sm-12 text-center">
                                        <button type="submit" class="btn btn-success dislocationRight">提交</button>
                                        <button type="reset" class="btn btn-default">重置</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    <div id="toolbar" class="toolbar">
                    {:build_toolbar('refresh')}
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover" 
                           data-operate-edit="{:$auth->check('store/stock/edit')}" 
                           data-operate-del="{:$auth->check('store/stock/del')}" 
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
