<form action="" data-toggle="validator" id="edit-order-form" method="POST" role="form" enctype="multipart/form-data">
    <!-- class="form-horizontal"  -->
    <div class="alert alert-info alert-dismissable ">
        下拉列表选择后，需点击右侧
        <span class="text-warning">
            '+'
        </span>
        号将人员添加至
        <span class="text-warning">
            '参与职员'
        </span>
        列方可保存<br />
        根据规定请尽量上传相关<span class="text-warning">票据</span>，类型为<span class="text-warning">jpg / png</span>, 请控制文件大小。
        <button aria-hidden="true" class="close" data-dismiss="alert" type="button">
            ×
        </button>
    </div>
    <h4 class="text-success" style="padding-left: 15px; padding-right: 15px;">
        {:__('Basic info:')}
    </h4>
    <div class="form-group col-xs-4 hidden">
        <label class="control-label col-xs-4 col-md-4 deductLabel">
            {:__('Item_id')}:
        </label>
        <span class="col-xs-6 col-md-8">
            <input name="row[order_item_id]" type="hidden" value="{$row.item_id}"/>
            {$row.item_id}
        </span>
    </div>
    <div class="clearfix">
    </div>
    <div class="form-group col-xs-6 col-md-6">
        <div class="input-group" style="width: 100%;">
            <span class="input-group-addon" style="width: 25%;">
                {:__('TProType')}
            </span>
            <input class="form-control" readonly="" type="text" value="{:__('Pro_type_' . $row.item_type)}">
            </input>
        </div>
    </div>
    <div class="form-group col-xs-6 col-md-6">
        <div class="input-group" style="width: 100%;">
            <span class="input-group-addon" style="width:25%;">
                {:__('TProName')}
            </span>
            <input class="form-control" readonly="" type="text" value="{$row.pro_name|htmlspecialchars}" />
        </div>
    </div>
    <div class="form-group col-xs-6 col-md-6">
        <div class="input-group" style="width: 100%;">
            <span class="input-group-addon" style="width: 25%;">
                {:__('Deduct times')}(
                <i class="text-warning fa fa-asterisk">
                </i>
                )
            </span>
            <input class="form-control" data-rule="required; integer; range[0 ~ {$row.item_total_times - $row.item_used_times}]" name="row[deduct_times]" placeholder="{:__('Deduct times')}" type="number" value="1" />
        </div>
    </div>
    <div class="form-group col-xs-6 col-md-6">
        <div class="input-group" style="width: 100%;">
            <span class="input-group-addon" style="width: 25%;">
                已划扣
            </span>
            <input class="form-control" readonly="" value="{$row.item_total_times - $row.item_used_times}(可划扣) / {$row.item_total_times}(总次数)" />
        </div>
    </div>
    {if (!empty($itemProject))}
    <div class="form-group col-xs-6 col-md-6">
        <div class="input-group" style="width: 100%;">
            <span class="input-group-addon" style="width: 25%;">
                现有库存(
                <i class="{if $itemProject.pro_stock > 0}text-success fa fa-check{else}text-danger fa fa-minus{/if}">
                </i>
                )
            </span>
            <input class="form-control" readonly="" value="{$itemProject.pro_stock}" />
        </div>
    </div>
    {/if}
    <div class="clearfix">
    </div>
    <hr class="narrow"/>
    <h4 class="text-success" style="padding-left: 15px; padding-right: 15px;">
        票据(<span class="text-danger">*</span>)：
    </h4>
    <div class=" col-xs-12 col-sm-12">
        <div class="form-group col-sm-8">
            <input accept="image/jpeg, image/png" class="hidden" id="f-imgupload" name="deductimgs[]" type="file" multiple="multiple" data-rule="required" />
            <div class="input-group">
                <input class="form-control" id="t-file-name" readonly="" type="text" />
                <span class="input-group-btn">
                    <button class="btn btn-default" id="btn-browser-file" type="button">
                        <i class="fa fa-upload fa-x">
                        </i>
                        选择文件
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <hr class="narrow"/>
    <h4 class="text-success" style="padding-left: 15px; padding-right: 15px;">
        {:__('Participant staff')}:
    </h4>
    <div class=" col-xs-12 col-sm-12">
        <table class="table table-bordered" id="table" width="100%">
            <thead>
                <th class="text-center">
                    <h5 class="deductLabel">
                        {:__('TProType')}
                    </h5>
                </th>
                <th class="text-center">
                    <h5 class="deductLabel" title="选择后点击右侧'+'号将人员添加至'参与职员'列">
                        {:__('Participant staff')}
                        <i class="fa fa-question-circle text-warning">
                        </i>
                    </h5>
                </th>
                <th class="text-center">
                    <h5 class="deductLabel">
                        {:__('Operate')}
                    </h5>
                </th>
            </thead>
            <tbody>
                {foreach $deductRoles as $deductRole}
                <tr data-pk="{$deductRole.id}">
                    <td class="text-center" style="vertical-align: middle;" width="20%">
                        {$deductRole.name|htmlspecialchars}
                    </td>
                    <td width="50%">
                        <table class="table table-bordered" id="t-role-{$deductRole.id}" style="margin-bottom: 0;" width="100%">
                        </table>
                    </td>
                    <td class="text-center" style="vertical-align: middle;" width="30%">
                        <div class="input-group">
                            <select class="show-tick selectpicker form-control selectSearch-max" data-live-search="true" id="sel-staff-{$deductRole.id}">
                                {foreach $briefAdminList as $adminId => $nickname}
                                <option value="{$adminId}">
                                    {$nickname|htmlspecialchars}
                                </option>
                                {/foreach}
                            </select>
                            <span class="input-group-addon btn-addstaff" data-role-id="{$deductRole.id}" title="点击添加至'参与职工'列">
                                <i class="fa fa-plus">
                                </i>
                            </span>
                        </div>
                    </td>
                </tr>
                {/foreach}
            </tbody>
        </table>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-xs-2">
        </label>
        <div class="col-xs-12 col-sm-8">
            <button class="btn btn-success btn-embossed" type="submit">
                {:__('OK')}
            </button>
            <button class="btn btn-default btn-embossed" type="reset">
                {:__('Reset')}
            </button>
        </div>
    </div>
</form>
<style type="text/css">
    #table .bootstrap-select{
    max-width: 320px;
}
#table .bootstrap-select button.dropdown-toggle{
    max-width: 320px;
}
</style>