<input id="h-balance_id" type="hidden" value="{$Request.param.ids}"/>
<div class="tab-pane in" id="orderHistory">
    <div class="widget-body no-padding">
        <a class="btn btn-primary btn-refresh btnRefresh" href="javascript:;" id="btn-refresh-order">
            <i class="fa fa-refresh">
            </i>
        </a>
        <div style="line-height: 24px;font-size: 14px;float: left;padding-left: 5px; width: calc(100% - 140px);">
            <h4>
                <label class="control-label">
                    {:__('item_pay_total')}
                </label>
                <span class="his-item_pay_total text-success">
                    0
                </span>
                +
                <label class="control-label">
                    {:__('item_coupon_total')}
                </label>
                <span class="text-warning his-item_coupon_total">
                    0
                </span>
                =
                <label class="control-label">
                    {:__('Item_total')}
                </label>
                <span class="text-warning his-item_total">
                    0
                </span>
            </h4>
        </div>
        <table class="table ordertable table-bordered" id="orderHistory-table" width="100%">
        </table>
    </div>
</div>